/* Estilização do header e footer */
header, footer {
    background-color: #333; /* Cor de fundo diferente */
    color: #fff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 50px; /* Espaçamento interno */
}

/* Estilização dos parágrafos no main */
main {
    background-color: #ffffff; /* Cor de fundo do main */
    text-align: center; /* Centraliza os parágrafos dentro de main */
    
    p {
        display: inline; /* Exibe os parágrafos na mesma linha */
        background-color: #052c12; /* Cor de fundo dos parágrafos */
        color: #abeea9; /* Cor do texto */
        border-radius: 15px; /* Borda arredondada */
        margin: 10px; /* Margem entre os parágrafos */
        padding: 5px; /* Espaçamento interno */
    }
}
