body {
    background: #777; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilização do header e footer */
header, footer {
    background-color: #333; /* Cor de fundo diferente */
    color: #fff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 10px; /* Espaçamento interno */
}

/* Centraliza o conteúdo */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Centraliza verticalmente */
    text-align: center;
}

/* Estilização do contador */
h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
}

/* Estilização dos botões */
button {
    background-color: #052c12; 
    color: #abeea9; 
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

/* Efeito ao passar o mouse nos botões */
button:hover {
    background-color: #abeea9; 
    color: #052c12; 
}

/* Estilo específico para o botão "Recomeçar" */
.btn-resetar {
    background-color: #444;
    color: #ff6666;
}

.btn-resetar:hover {
    background-color: #ff6666;
    color: #444;
}

img {
    width: 100%; /* Ajusta a largura para ocupar 100% do contêiner */
    max-width: 150px; /* Limita a largura máxima para 400px */
    height: auto; /* Mantém a proporção da imagem */
    border: 2px solid #052c12; /* Adiciona uma borda azul */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  }