*{
    font-family:cursive
}

body {
    background: #333; /* Cor de fundo */
  }

/* Estilização do header e footer */
header, footer {
    background-color: #333; /* Cor de fundo diferente */
    color: #fff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 10px; /* Espaçamento interno */
    
    a{
        color: #fff; /* Cor do texto dos links */
    }
}

/* Centralizar o conteúdo do main */
main {
    background-color: #fff; /* Cor de fundo do main */
    padding: 5px; /* Espaçamento interno */
    text-align: center; /* Centraliza dentro de main */
}

/* Estilização dos links na navegação */
nav a {
    display: inline-block; /* Permite que os links fiquem lado a lado e aceitem altura e largura */
    width: 20vw; /* 20% da largura da tela (viewport width) */
    background-color: #052c12; /* Cor de fundo */
    color: #abeea9; /* Cor do texto */
    text-align: center; /* Centraliza o texto dentro do link */
    padding: 10px; /* Espaçamento interno */
    margin-right: 10px; /* Espaçamento entre os links */
    border-radius: 25px; /* Borda arredondada */
}

/* Estilização das caixas de texto */

.caixa {
    display: inline-block; /* Para que as caixas fiquem lado a lado */
    width: 45%; /* 45% da largura da seção */
    margin-right: 5%; /* Espaçamento entre as caixas */
    background-color: #abeea9; /* Cor de fundo das caixas */
    color: #052c12; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    margin-top: 10px; /* Margem acima das caixas */
    border: 1px solid #052c12; /* Borda sólida */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 3px 3px 10px #052c12; /* Sombra para dar um efeito de profundidade */
}

.perfil-foto{
    width: 150px; /* Largura da imagem */
    height: 150px; /* Altura da imagem */
    border-radius: 30%; /* Borda arredondada para a imagem */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Sombra para dar um efeito de profundidade */
}