*{
    font-family:cursive
}

body {
    background: #333; /* Cor de fundo */
  }

/* Estilização do header e footer */
header, footer {
    color: #fff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 10px; /* Espaçamento interno */
    
}

main {
    background-color: #fff; /* Cor de fundo do main */
    padding: 5px; /* Espaçamento interno */
    text-align: center; /* Centraliza dentro de main */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* Três colunas: esquerda (1fr), centro (3fr), direita (1fr) */
    gap: 25px; /* Espaçamento entre as colunas */
    min-height: 50vh; /* Altura mínima */
}

.left-bar {
    background-color: lightblue;
    padding: 20px;
}

.main-content {
    background-color: lightgray;
    padding: 20px;
}

.right-bar {
    background-color: lightgreen;
    padding: 20px;
}
